void ac_{{.Id}}_{{.Activity.Id}}_init() {
}

void ac_{{.Id}}_{{.Activity.Id}}(int value) {
	{{$message := setting .Activity "message"}}
	Serial.println({{if eq $message "${value}"}}String(value){{else}}"{{$message}}"{{end}});
}