#include <Wire.h>
#include <Adafruit_Sensor.h>
#include <Adafruit_BME280.h>

const int Bme280_cs_pin__i = 5;
Adafruit_BME280 bme(Bme280_cs_pin__i);

unsigned long t_{{.Id}}_lt = 0; // lastTrigger

void t_{{.Id}}_init() {

    bool status;

    status = bme.begin();
    if (!status) {
        Serial.println("Could not find a valid BME280 sensor, check wiring!");
        while (1);
    }
}

void t_{{.Id}}() {

  if ((millis() - t_{{.Id}}_lt) > {{setting . "interval"}}) {
    Serial.println(bme.readTemperature());
    a_{{.ActionId}}(bme.readTemperature());

	t_{{.Id}}_lt = millis();
  }
}