unsigned long t_{{.Id}}_lt = 0; // lastTrigger
uint8_t t_{{.Id}}_pin = {{setting . "pin"}};    // set input pin

void t_{{.Id}}_init() {
	pinMode(t_{{.Id}}_pin, INPUT);
}

void t_{{.Id}}() {

  int value = {{if settingb . "digital"}}digitalRead(t_{{.Id}}_pin){{else}}analogRead(t_{{.Id}}_pin){{end}};

  if ((millis() - t_{{.Id}}_lt) > {{setting . "interval"}}) {
    a_{{.ActionId}}(value);

	t_{{.Id}}_lt = millis();
  }
}