#include <Wire.h>
#include "Adafruit_VL53L0X.h"

Adafruit_VL53L0X lox = Adafruit_VL53L0X();

unsigned long t_{{.Id}}_lt = 0; // lastTrigger

void t_{{.Id}}_init() {

    bool status;

  if (!lox.begin()) {
    Serial.println(F("Failed to boot VL53L0X"));
    while(1);
  }
}

void t_{{.Id}}() {

  VL53L0X_RangingMeasurementData_t measure;

  if ((millis() - t_{{.Id}}_lt) > {{setting . "interval"}}) {

    lox.rangingTest(&measure, false); // pass in 'true' to get debug data
    Serial.print("Distance (mm): "); Serial.println(measure.RangeMilliMeter);
    a_{{.ActionId}}(measure.RangeMilliMeter);

	t_{{.Id}}_lt = millis();
  }
}